body {
    font-family: 'Inter', Arial, sans-serif !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#searchBar {
    border: 2px solid transparent;
    border-color: rgb(226, 226, 226);
    transition: border-color 0.05s ease;
    box-shadow: none !important;

}

#searchBar:hover {
    border-color: orange;
    /*outline: none;*/
    box-shadow: none !important;
}


.item_container_wrap {
    height: calc(100vh - 59px);
    overflow-y: auto;
}

.button {
    border: 2px solid orange;
    color: orange;
    background: transparent;
    padding: 4px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.button:hover {
    background-color: orange;
    color: white;
}

.quantity-selector .btn {
    border: 1px;
    background-color: #f8f9fa;
}

#new-customer-name {
    border: 2px solid transparent;
    border-color: rgb(226, 226, 226);
    transition: border-color 0.05s ease;
    box-shadow: none !important;

}

#new-customer-name:hover {
    border-color: orange;
    /*outline: none;*/
    box-shadow: none !important;
}

#new-customer-gmail {
    border: 2px solid transparent;
    border-color: rgb(226, 226, 226);
    transition: border-color 0.05s ease;
    box-shadow: none !important;

}

#new-customer-gmail:hover {
    border-color: orange;
    /*outline: none;*/
    box-shadow: none !important;
}
#new-customer-form-container{
    border: 2px solid !important;
    border-color: orange !important;
}

.new-item-form-container {
    border: 2px solid !important;
    border-color: orange !important;
    padding: 15px;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 7px;
}

/* Make all inputs + button equal size */
.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.form-grid > * {
    height: 45px;
}
.custom-col-itemContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
    gap: 12px;
}
.input-field {
    border: 2px solid transparent !important;
    border-color: rgb(226, 226, 226) !important;
    transition: border-color 0.05s ease;
    box-shadow: none !important;

}

.input-field:hover {
    border-color: orange !important;
    /*outline: none;*/
    box-shadow: none !important;
}

.button-disabled {
    opacity: 0.5;    
    pointer-events: none; 
    cursor: not-allowed;  
    transition: none; 
    background-color: orange;
    color: white;
   
}

.card-active{
    background-color: orange;
    color: white;
}

@media(max-width:992px) {}